
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


body {
    height: 100vh;
    box-sizing: border-box;
    background-image: url(./assets/Urna.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 2rem;
    font-family: 'Krona One', sans-serif;
    text-decoration-line: overline underline;
    text-decoration-color: blue;
    text-decoration-style: solid;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

.images img{
   width: 90%;
   height: 120px;
   border-radius: 7px;
}

.images {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20%;
    padding-right: 18%;
    gap: 10px;

  }
  
.imagem{
    box-shadow: 3px 3px 2px #616161;
    width: 100%;
}

.image-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

