<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votacao</title>
    <link rel="stylesheet" href="./static/styles.css"
</head>

<body>
    <header></header>
    <main>
        <h1 class="titulo">Eleições 2023</h1>
        <section class="images">
            <button class="image-button lula">
            <img class="imagem img_lula" src="./static/assets/Lula.jpg" alt="foto presidente lula">
            </button>
            <button class="image-button bolsonaro">
            <img class="imagem img_bolsonaro" src="./static/assets/Bolsonaro.jpg" alt="foto bolsonaro">
            </button>
            <button class="image-button tiririca">
            <img class="imagem img_tiririca" src="./static/assets/Tiririca.jpg" alt="foto tiririca">
            </button>
            <button class="image-button eduardo">
            <img class="imagem img_eduardo" src="./static/assets/eduardo.jpg" alt="foto eduardo">
            </button>
            <button class="image-button romario">
            <img class="imagem img_romario" src="./static/assets/Romario.jpg" alt="foto Romário">
            </button>
        </section>

        <audio src="./static/assets/barulho urna.mp3" id="som urna"></audio>
        
        <script src="./static/main.js"></script>

    </main>
    <footer></footer>
</body>
</html>