<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votacao</title>
    <link rel="stylesheet" href="./static/styles.css"
</head>

<body>
    <header></header>
    <main>
        <h1 class="titulo">Eleições 2023</h1>
        <section class="images">
            <form action="/votar" method="POST">
                <button class="image-button" name="candidato" value="Lula">
                    <img class="imagem" src="./static/assets/Lula.jpg" alt="foto presidente lula">
                </button>
                <button class="image-button" name="candidato" value="Bolsonaro">
                    <img class="imagem" src="./static/assets/Bolsonaro.jpg" alt="foto bolsonaro">
                </button>
                <button class="image-button" name="candidato" value="Tiririca">
                    <img class="imagem" src="./static/assets/Tiririca.jpg" alt="foto tiririca">
                </button>
                <button class="image-button" name="candidato" value="Eduardo">
                    <img class="imagem" src="./static/assets/eduardo.jpg" alt="foto eduardo">
                </button>
                <button class="image-button" name="candidato" value="Romario">
                    <img class="imagem" src="./static/assets/Romario.jpg" alt="foto Romário">
                </button>
                <a href="/resultados" class="resultado-button">Ver Resultados</a>
            </form>
        </section>

        <audio src="./static/assets/barulho urna.mp3" id="som urna"></audio>
        
        <script src="./static/main.js"></script>

    </main>
    <footer></footer>
</body>
</html>