<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votacao</title>
    <link rel="stylesheet" href="./static/styles.css"
</head>
<body>
    <header></header>
    <main>
        <h1 class="titulo">Resultado Eleições 2023</h1>
        <table>
            <tr>
                <th>Candidato</th>
                <th>Votos</th>
            </tr>
            {% for candidato, votos in votos.items() %}
            <tr>
                <td>{{ candidato }}</td>
                <td>{{ votos }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">Voltar</a>
        <script src="./static/main.js"></script>

    </main>
    <footer></footer>
</body>
</html>